<!DOCTYPE html>
<html>
  <head>
    <title>quatroLABS Watchman</title>
    <%= stylesheet 'https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:400,400i,700,700i&display=swap' %>
    <%= stylesheet 'https://unpkg.com/normalize.css@8.0.1/normalize.css' %>
    <%= stylesheet 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' %>
    <%= favicon 'https://cdn.quatrolabs.com/favicon.ico' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript 'http://localhost:3100/public/assets/app.js' %>
  </body>
</html>
